@model IEnumerable<AnnuairePrisma.Models.Contacts>

@{
    ViewBag.Title = "Liste";
}

<h2>Liste</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Societes.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.civilite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fonction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telportable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Societes.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.civilite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fonction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telportable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idContact }) |
            @Html.ActionLink("Details", "Details", new { id=item.idContact }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idContact })
        </td>
    </tr>
}

</table>
