@model AnnuairePrisma.Models.Societes

@{
    ViewBag.Title = "Details";
}

<div class="mdl-card mdl-shadow--2dp" >
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">@Html.DisplayFor(model => model.nom)</h2>
    </div>
    <div class="mdl-card__media">
        <img src="photo.jpg" width="220" height="140" border="0" alt="" style="padding:20px;">
    </div>
    <div class="mdl-card__supporting-text">
        This text might describe the photo and provide further information, such as where and
        when it was taken.
    </div>
    <div class="mdl-card__actions">
        <a href="(URL or function)">Related Action</a>
    </div>
</div>





<div>
    <h4>Societes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.raisonSociale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.raisonSociale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresse1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresse1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresse2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresse2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codePostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codePostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.standard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.standard)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.idSociete }) |
    @Html.ActionLink("Retour", "Index")
</p>
