@model IEnumerable<AnnuairePrisma.Models.Societes>

@{
    ViewBag.Title = "Index";
}

<table id="tableSocietes" class="mdl-data-table mdl-js-data-table" align="center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.raisonSociale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ville)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.standard)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.raisonSociale)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ville)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.standard)
                </td>
                <td>
                    @Html.ActionLink("Contacts", "Liste", "Contacts", new { idSociete = item.idSociete }, new { @class = "btn btn-secondary" }) |
                    @Html.ActionLink("Détails", "Details", new { id = item.idSociete }, new { @class = "btn btn-outline-primary" }) |
                    @Html.ActionLink("Edition", "Edit", new { id = item.idSociete }, new { @class = "btn btn-outline-secondary" }) |
                    @Html.ActionLink("Suppression", "Delete", new { id = item.idSociete }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
