<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <title>@ViewBag.Title - Annuaire PrismaSoft</title>


</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Annuaire</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" @Html.ActionLink("Nouvelle", "Create","Societes")</a>
                <a class="mdl-navigation__link" @Html.ActionLink("Accueil", "Index", "Home")</a>
                <a class="mdl-navigation__link" @Html.ActionLink("À propos de", "About", "Home")</a>
                <a class="mdl-navigation__link" @Html.ActionLink("Contact", "Contact", "Home")</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">   @RenderBody()</div>
        </main>
    </div>
</body>
</html>
